<ion-header [translucent]="true" [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      La Perrada De Chalo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let img of images">
      <img src="{{img}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let img of images">
      <img src="{{img}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let img of images">
      <img src="{{img}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let img of images">
      <img src="{{img}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides>

  <!-- <ion-button (click)="salir()">Salir</ion-button> -->

  <!-- <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let img of images">
      <img src="{{img}}" tappable (click)="openPreview(img)">
    </ion-slide>
  </ion-slides> -->

</ion-content>
