ion-slides
{
    margin-top: 5%;
    background: #ffffff;

    img
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.bg-red-perrada
{
    --ion-background-color: #df2c31;
}

.bg-red
{
    background-color: #df2c31;
}