<!-- Cabecera inicial con la info del restaurante -->
<ion-header [translucent]="true" color="light" *ngIf="firstHeader"> 
  <!-- Nombre del restaurante y boton de información -->
  <ion-toolbar color="dark">
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="startInformationPage()">
        <ion-icon name="alert-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">La Perrada De Chalo</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Cabecera con el listado de categorias de productos disponibles -->
<ion-header [translucent]="true" color="light" *ngIf="!firstHeader">
  <ion-toolbar color="dark">    
    <ion-segment scrollable (ionChange)="segmentChanged($event)" [value]="category">
      <!-- Menu -->
      <ng-container *ngFor="let product of products">
        <ion-segment-button value="{{ product.category }}">
          <ion-label>{{ product.category }}</ion-label>
        </ion-segment-button>
      </ng-container>

      <!-- Bebidas -->
      <!-- <ng-container *ngFor="let category of categoriesDrinks">
        <ion-segment-button value="{{ category }}">
          {{ category }}
        </ion-segment-button>
      </ng-container> -->
    </ion-segment>
  </ion-toolbar>
</ion-header> 

<!-- ***********CONTENT***********CONTENT***********CONTENT***********CONTENT*********** -->
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="verifyTopBar($event)">
  <!-- Imagen, tiempo, costo, pedido mínimo -->
  <div class="cover-container">
    <ion-img [src]="coverPageURL"></ion-img>
    <ion-text class="cover-left-text">
      <h1>La Perrada De Chalo</h1>
      <h5>30-45 min | $2 envio | $15 mínimo</h5>
    </ion-text>
  </div>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar productos..."></ion-searchbar>
  </ion-toolbar>

   <!-- List of Text Items -->
   <div *ngFor="let product of products" class="mt-products">
     <!-- Lista de cada categoria -->
     <ion-list id="{{ product.category }}">
      <ion-item>
        <ion-text color="info">
          <h3> {{ product.category }} </h3>
        </ion-text>
      </ion-item>

      <ion-item *ngFor="let productInfo of product.products">
        <ion-grid>
          <!-- Nombre y descripción del producto -->
          <ion-row>
            <ion-text>
              <h2>{{ productInfo.name }}</h2>
              <p class="description-color">
                {{ productInfo.description }}
              </p>
            </ion-text>
          </ion-row>

          <!-- Precio del producto -->
          <ion-row>
            <ion-text color="danger">
              <h3>$ {{ productInfo.price }} </h3>
            </ion-text>
          </ion-row> 
        </ion-grid>       
      </ion-item>
     </ion-list>
    </div>

</ion-content>
