.cover-container
{
    position: relative;
    text-align: center;
}

.cover-left-text
{
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.description-color
{
    color: #8f8f8f;
}